    /*--- header ---*/
    .header-image {
        max-height: 300px;
        /* You can set this to your desired height */
        width: 100%;
        object-fit: cover;
        /* This will ensure that the aspect ratio is maintained */
    }

    #nav1 {
        background-color: transparent !important;
        /* Remove background color */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

    }

    /* Adjust text and icon colors */
    .navbar-light .navbar-nav .nav-link {
        color: black;
        /* Text color */
    }


    .navbar-light .navbar-toggler:focus {
        box-shadow: none;
        /* Remove focus border */
    }

    /*--- button ---*/
    .icon-button {
        border: none;
        background: none;
        width: 100px;
    }

    .icon-button:hover {
        color: gray;
        /* เปลี่ยนสีของ icon เมื่อ hover */
    }

    /*--- Card ---*/
    #myCard {
        width: 350px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: rgb(181, 31, 0);
    }

    #time {
        background-color: rgb(181, 31, 0);
        border: none;
    }


    #btnCard {
        display: inline-block;
        padding: 10px 20px;
        background-color: white;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #btnCard:hover {
        background-color: rgb(234, 233, 233);
    }

    #cardReserve {
        width: 300px;
        border: none;
        border-radius: 5px;
        padding: 1rem;
        background-color: rgb(237, 237, 237);
    }

    #con-reserve {
        position: relative;
    }

    #icon-search {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #999;
        /* Icon color */
        font-size: 18px;
        /* Icon size */
    }

    /* ----- Button Search ----- */
    #btnSearch {
        width: 100px;
        color: white;
        background-color: black;
    }

    #btnSearch:hover {
        background-color: gray;
    }

    #ip-reserve {
        padding: 10px 30px;
        border: none;
        /* Adjust the right padding to make space for the icon */
    }

    #con-time {
        width: 100%;
    }

    #select-time {
        width: 100%;
        border: none;
    }


    #datepicker {
        border: none;
    }

    #con-people {
        width: 100%;
    }

    #people {
        width: 100%;
        border: none;
    }

    /*--- Button Reserve ---*/
    #btnReserve {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(0, 31, 0);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #btnReserve:hover {
        background-color: gray;
    }